html {
    box-sizing: border-box;
}
  
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: rgb(213, 189, 133)
}

.center {
    margin: 0 auto;
}

.font-24px {
    font-size: 24px;
}

.align-text {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.sans-serif {
    font-family: Sans-serif;
}

.black-border {
    border: 5px solid black;
    border-radius: 15px;
}

.white-background {
    background-color: white;
}

.inline-block {
    display: inline-block;
}

.header {
    font-family: "Courier New", Monospace;
    font-size: 48px;
}

.sub-header {
    font-size: 32px;
}

hr {
    border-color: black;
    margin: 3% 0;
}

ul, ol {
    list-style-type: none;
    padding: 10px;
}

li {
    margin-bottom: 15px;
}

a {
    color: black;
    text-decoration: none;
    width: 40%;
    padding: 1%;
    margin-bottom: 20px;
}

a:hover {
    background-color: rgb(200,200,200);
}

.image-and-description {
    padding-left: 21%;
}

img {
    height: auto;
    width: 30%;
}

.description {
    vertical-align: top;
    width: 40%;
    margin: -1em 0 -1em 5%;
}

.description p {
    padding: 2%
}

.ingredients-and-steps {
    padding-left: 9%
}

.ingredients-and-steps div {
    vertical-align: top;
    width: 45%;
    margin-bottom: 2%
}

.ingredients-and-steps ul, ol {
    width: 60%;
}

#home {
    margin: 2% 0;
}